In [1]:
import pandas as pd
import numpy as np

import keras
from keras.models import Sequential
from keras.layers import Activation,Input,Dense
from keras.utils import np_utils

Using Theano backend.
WARNING (theano.configdefaults): g++ not available, if using conda: `conda install m2w64-toolchain`
WARNING (theano.configdefaults): g++ not detected ! Theano will be unable to execute optimized C-implementations (for both CPU and GPU) and will default to Python implementations. Performance will be severely degraded. To remove this warning, set Theano flags cxx to an empty string.

In [4]:
data = pd.read_csv('./titanic.csv')

data.head(n=10)

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
5,6,0,3,"Moran, Mr. James",male,NaN,0,0,330877,8.4583,NaN,Q
6,7,0,1,"McCarthy, Mr. Timothy J",male,54.0,0,0,17463,51.8625,E46,S
7,8,0,3,"Palsson, Master. Gosta Leonard",male,2.0,3,1,349909,21.0750,NaN,S
8,9,1,3,"Johnson, Mrs. Oscar W (Elisabeth Vilhelmina Berg)",female,27.0,0,2,347742,11.1333,NaN,S
9,10,1,2,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0,1,0,237736,30.0708,NaN,C

In [5]:
mean_age= int(data['Age'].mean())
data['Age']= data['Age'].fillna(mean_age)

sex_mapping = {
    'male':0,
    'female':1
}

sex=data['Sex'].values

quant_sex = np.zeros(sex.shape[0])

for ix in range(sex.shape[0]):
    quant_sex[ix]=sex_mapping[sex[ix]]

In [6]:
ds = np.asarray([data['Pclass'], quant_sex, data['Age'], data['SibSp'], data['Parch'],data['Fare'],data['Survived']]).astype('float').T

y = data['Survived'].values
cols = ['pclass', 'sex', 'Age', 'Sibsp', 'parch', 'fare', 'survived']
print cols
ds[2]

['pclass', 'sex', 'Age', 'Sibsp', 'parch', 'fare', 'survived']

array([  3.   ,   1.   ,  26.   ,   0.   ,   0.   ,   7.925,   1.   ])

In [8]:
split = int(ds.shape[0]*0.8)

x_train = ds[:split, :-1]
x_test = ds[split:, :-1]

y_train = np_utils.to_categorical(ds[:split, -1])
y_test = np_utils.to_categorical(ds[split: , -1])

print x_test.shape, x_train.shape
print y_test.shape, y_train.shape

(179, 6) (712, 6)
(179, 2) (712, 2)

In [ ]:
model = Sequential()

model.add(Dense(12, input_shape=(6,)))
model.add(Activation('tanh'))

model.add(Dense(6))
model.add(Activation('relu'))

model.add(Dense('2'))
model.add(Activation('softmax'))

model.summary()
model.compile(loss="categorical_crossentropy", optimizer="adagrad" , metrics=['accuracy'])